body {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 10px;
    font-family: arial;
}
#all-contents {
  max-width: 800px;
    margin: auto;

}

/* navigation menu */
nav {
    background: rgb(255, 166, 0);
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    padding: 10px;
    font-family: Geogria;
    border-radius: 25px;
}
h1 {
    display: flex;
    align-items: center;
    color: white;
    flex: 1;
    margin: 0;
    font-family: Georgia;
    text-shadow: 3px 3px rgb(0, 0, 0) ;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a{
    color: white;
}
/* main container area beneath menu */
main {
    background: rgb(245, 238, 219);
    display: flex;
    border-radius: 25px;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
    border-radius: 25px;
}
.content {
    flex: 1;
    padding: 15px;
    font-family: Georgia;
    text-shadow: 3px 3px 10px black;
}
#interests {
    border: 4px silver ridge;
    padding: 8px;
    font-family: Times New Roman;
    font-size: 18px;
    border-style: dotted dashed solid double;
    border-color: rgb(0, 0, 0);
    border-radius: 25px;
}
h2, h3 {
    margin: 0px;
}
/* portfolio styles */
.content h1 {
  color: rgb(255, 255, 255);
}

#portfolio {
  list-style-type: none;
  padding-left: 0;
}

#portfolio li {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#portfolio li:hover {
  background: #ff9100;
}

#portfolio a {
  text-decoration: none;
  color: #fdfbfb;
}
